@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f9f9f9;
    height: 100%;
}

.text-main {
    color: #565a69;
    font-size: 26pt;
}

.aside {
    position: absolute;
    width: 260px;
    height: 200%;
    top: 0;
    bottom: 0;
    background: #2b2f3e;   
}

.inner {
    margin: 5% 10px 0 8%;
    position: relative;
}

.innerContent {
    margin: 8px 0 11px 24px;    
}

.overview {
    position: relative;
    top: 70px;
    height: 56px;
    line-height: 3;
    background: #ff3158;
    font-size: 14pt;
    color: #ffeef1;
}

section.content {
    position: relative;
    top: 20px;
    left: 292px;
    display: inline-block;
} 

.field {
    margin: 0;
    padding: 0;
    position: absolute;
    background: #ffffff; 
    border: 1px solid #d5d5d5;
    min-height: 560px;
    box-shadow: 0.5px 0.5px 8px #888888;
}

.items { 
    width: 472px;
}

.input {
    position: relative;
    margin-top: 5px;
}

.input-field {
    margin: 0 2px 0 6px;
    height: 36px;
    width: 277px;
    font-size: 11pt;
    border: 0.5px solid #b3b3b3;
    border-radius: 3px;
    padding: 0 0 0 8px;
    outline: none;
}

.button-add {
    margin: 0;
    padding: 0;
    background: #27ccc0;
    font-size: 11pt;
    color: #FFFFFF;
    width: 130px;
	height: 37px;
    border-radius: 4px;
	border: none;
    outline: none;
    transition: background 1s;
}

.button-add:hover {
    cursor: pointer;
    background: #ffffff;
    color: #27ccc0;
    border: 2px solid #27ccc0;
    transition: background 0.5s;
}

.item-outer-true {
    border-left: 3px solid #ff2f5a;
    height: 50px;
}

.item-outer-false {
    border-left: 3px solid #ffffff;
    height: 50px;
}

.item-outer-true:hover, .item-outer-false:hover {
    background: #f9f9f9;
}

.item-inner {
    position: absolute;
    margin: 0 0 0 22px;
    height: 50px;
    border-bottom: 2px solid #f2f2f2;
    width: 90%;
    display: table;  
}

.item-text:hover  {
    color: #ff2f5a;
    cursor: pointer;
    transition: color 0.5s;
}

.inner-block {
    display: table-cell;
    vertical-align: middle;
}

.item-text {
    display: table-cell;
    color: #2b2f3e;
    font-size: 12pt;
    font-weight: bolder;
    padding-right: 10px;
}

.comments-counter {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    font-size: 9pt;
    font-weight: bold;
    background: #27ccc0;
    padding: 0px 8px 0px 8px; 
    height: 10px;
	border-radius: 13px;
}

.button-delete { 
    margin: 9px 0 0 0;
    display: table-cell;
    vertical-align: middle;
    background: #ffffff;
    font-size: 12pt;
    color: #ff7690;
    width: 95px;
	height: 34px;
    border-radius: 4px;
	border: 1px solid #ff7690;
    float: right;
    outline: none;
    transition: background 1s;
}

.button-delete:hover {
    cursor: pointer;
    color: #ffffff;
    background: #ff7690;
    transition: background 0.5s;
}

div.comments {  
    left: 492px;   
    width: 440px;
}

.comments-field {
    margin: 10px 0 35px 18px; 
}

.comments-outer {
    position: relative;
    margin: 0;
    padding: 0;
    
}

.comment-block {
    margin: 10px 18px 0 20px;
    display: table;
    padding: 0;
    height: 90px;
}

.border-true {
    border-bottom: 2px solid #f2f2f2;
}

.mark-block {
    display: table-cell;
    vertical-align: top;
    width: 50px;
}

.mark-comment {
    margin-top: 3px;
	width: 50px;
    height: 50px;
}

.mark-true {
    background: #47568c;
}

.mark-false {
    background: #ff8a00;    
}

.mark-default {
    background: #e6e6e6;
    margin-top: 0px !important;
}

.text-block-comment {
    color: #676767;
    font-size: 9pt;
    width: 336px;
    margin: 0 0 4px 15px;
}

/*.comment-input {
  outline: none;
  width: 330px;
  height: 65px;
  white-space: nowrap;
}*/

textarea {
    width: 330px;
    height: 65px;
    outline: none;
    resize: none;
}
